.add-order {
    padding-top: 130px;
    .add-order-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        background: var(--product-table-color);
        padding: 20px;
        border-radius: 15px;
        .add-order-btn {
            padding: 12px 20px;
            background: var(--pr-color);
            border: none;
            border-radius: 13px;
            cursor: pointer;
            transition: all 0.2s ease;  
            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 0.6;
                transform: scale(0.95);
            }
            i {
                font-weight: 600;
                font-size: 35px;
                color: #fff;
            }
        }

        .add-order-orders {
            width: 100%;
            border-radius: 11px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            button {
                padding: 12px 45px;
                font-weight: 600;
                font-size: 25px;
                cursor: pointer;
                background: none;
                border: 2px solid var(--pr-color);
                color: var(--pr-color);
                border-radius: 10px;
                transition: all 0.2s ease;
                span {
                    width: 150px;
                    display: flex;
                }
                &:hover {
                    color: #fff;
                    background: var(--pr-color);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}

.active-order {
    width: fit-content !important;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--pr-color) !important;
    color: #fff !important;
}