.header {
    padding: 25px 0 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--bg-color);
    z-index: 999;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            a {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 150px;
                    display: flex;
                }

                h2 {
                    font-weight: 600;
                    font-size: 28px;
                    margin-top: 10.5px;
                    color: var(--pr-color);
                }
            }
        }

        .header-actions {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                background: none;
                border: none;
                cursor: pointer;
                padding: 11px 14px;
                border-radius: 5px;

                &:last-child {
                    background: var(--pr-color);
                    transition: all 0.2s ease;

                    &:hover {
                        opacity: 0.9;
                    }

                    &:active {
                        opacity: 0.7;
                        transform: scale(0.95);
                    }

                    i {
                        color: #fff;

                        &:hover {
                            color: #fff;
                            rotate: 0deg;
                        }
                    }
                }

                i {
                    font-size: 28px;
                    color: var(--dark-color);
                    transition: all 0.2s ease;

                    &:hover {
                        color: var(--pr-color);
                        rotate: 80deg;
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}