.header {
    padding: 30px 0 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--header-bg);
    // background-image: url('../images/jpg/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            a {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 200px;
                    display: flex;
                }
            }
        }

        .main-title {
            font-weight: 600;
            font-size: 45px;
            color: var(--pr-color);

            @media screen and (max-width: 1235px) {
                font-size: 35px;
            }

            @media screen and (max-width: 1215px) {
                font-size: 30px;
            }

            @media screen and (max-width: 1164px) {
                display: none;
            }
        }

        .header-actions {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                background: none;
                border: none;
                cursor: pointer;
                padding: 11px 14px;
                border-radius: 5px;
                position: relative;
                span {
                    width: 25px;
                    height: 25px;
                    font-size: 16px;
                    border-radius: 50%;
                    color: #fff;
                    background: var(--pr-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -3px;
                    right: 0;
                }

                &:nth-child(2) {
                    &:hover {
                        .keyboard-com-to-mode {
                            display: flex;
                        }
                    }
                }

                &:last-child {
                    background: var(--pr-color);
                    transition: all 0.2s ease;

                    &:hover {
                        opacity: 0.9;
                    }

                    &:active {
                        opacity: 0.7;
                        transform: scale(0.95);
                    }

                    i {
                        color: #fff;

                        &:hover {
                            color: #fff;
                            rotate: 0deg;
                        }
                    }
                }

                i {
                    font-size: 28px;
                    color: var(--dark-color);
                    transition: all 0.2s ease;

                    &:hover {
                        color: var(--pr-color);
                        rotate: 80deg;
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}

.header-prices {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
        font-weight: 400;
        color: var(--dark-color) !important;
        font-size: 20px;
    }
}

.header-actions-and-clock {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-back-btn-and-title {
    display: flex;
    align-items: center;
    gap: 26px;

    h1 {
        font-size: 48px;
        color: var(--pr-color);
    }

    button {
        width: 70px;
        padding: 19px 10px;
        border-radius: 10px;
        border: none;
        background: var(--pr-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            transform: scale(98%);
        }

        img {
            width: 20px;
        }
    }
}