.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: rgba(0, 0, 0, 0.40);
    z-index: 1000;
    // backdrop-filter: blur(5px);
    &-wrapper {
        height: 100%;
    }
    .loading {
      width: 20px;
      height: 7px;
      background: var(--pr-color);
      animation: loading-anim .7s infinite;
    }
}

@keyframes loading-anim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}