.products {
    margin-top: 25px;

    .products-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .products-search {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 7px;

            input {
                width: 100%;
                border: 2px solid var(--dark-color);
                background: transparent;
                padding: 17px;
                outline: none;
                font-size: 18px;
                color: var(--dark-color);
                border-radius: 8px;
            }

            button {
                border: none;
                background: var(--pr-color);
                padding: 17px 20px;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    transform: scale(0.95);
                }

                i {
                    color: #fff;
                    font-size: 26px;
                }
            }
        }

        .products-btn {
            width: 50%;
            padding: 13px;
            border: none;
            font-weight: 600;
            font-size: 18px;
            border-radius: 5px;
            color: #fff;
            background: var(--pr-color);
            transition: all 0.2s ease;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                transform: scale(0.99);

            }
        }
    }
}

.all-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--tr-hover-color);
    padding: 13px;
    border-radius: 5px;
    &-left {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    h3 {
        color: var(--dark-color);
        font-size: 25px;
    }

    h2 {
        font-weight: 600;
        font-size: 36px;
        color: #248c2e;
    }
    button {
        padding: 13px 17px;
        font-size: 24px;
        background: var(--pr-color);
        border: none;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
            opacity: 0.8;
        }

        &:active {
            transform: scale(95%);
        }
    }
}

.search-history {
    display: none;
    h2 {
        color: var(--dark-color);
        padding: 5px 8px;
    }

    ul {
        background: var(--product-table-color);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 5px;

        li {
            color: var(--dark-color);
            background: var(--tr-hover-color);
            padding: 8px;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.activeHistory {
    display: block;
}