$modal-bg: rgba(0, 0, 0, 0.4);
$content-bg: white;
$transition-bounce: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

.modal-m {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    z-index: 9999;
    color: var(--dark-color);

    .modal-content {
        background: var(--bg-color);
        width: 90%;
        max-width: 680px;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        overflow: auto;
        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            margin-bottom: 15px;

            h3 {
                margin: 0;
            }

        }

        .close-btn {
            background: none;
            border: none;
            font-size: 34px;
            cursor: pointer;
            transition: color 0.2s;
            color: var(--dark-color);

            &:hover {
                opacity: 0.8;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}

.fall {

    &-enter-active,
    &-leave-active {
        transition: opacity 0.3s ease;

        .modal-content {
            transition: $transition-bounce;
        }
    }

    &-leave-active .modal-content {
        transition: all 0.2s ease-in;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;

        .modal-content {
            transform: translateY(-100px);
            opacity: 0;
        }
    }

    &-leave-to .modal-content {
        transform: translateY(-30px);
    }
}

.modal-prodcuts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.products-search {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        width: 100%;
        background: var(--bg-color);
        border: 1px solid var(--dark-color);
        padding: 12px;
        border-radius: 5px;
        color: var(--dark-color);
        outline: none;
    }

    button {
        padding: 10px 15px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: var(--dark-color);
        background: var(--pr-color);
        transition: all .2s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            transform: scale(95%);
        }

        i {
            color: #fff;
        }
    }
}

.confirm-order-wrapper {
    .confirm-order-top-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            width: 30%;
            padding: 14px;
            font-weight: 600;
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: .2s ease;
            background: none;
            color: var(--pr-color);
            border: 2px solid var(--pr-color);

            &:hover {
                opacity: 0.8;
            }

            &:active {
                transform: scale(95%);
            }
        }

    }
    form {
        width: 100%;
        input {
            padding: 14px;
            font-size: 16px;
        }
        .confirm-form {
            position: inherit;
            button {
                width: 100%;
            }
        }
        .select-option-wrp-bottom {
            width: 100% !important;
            select {
                border-radius: 8px;
            }
        }
        .form-top-inputs {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 15px;
            gap: 15px;
            .new-inp {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                input {
                    font-weight: 500;
                    font-size: 18px;
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid var(--dark-color);
                    background: var(--bg-color);
                    color: var(--dark-color);
                    outline: none;
                }
            }
        }
        .form-top-input-wrp {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 10px;
            input {
                width: 50%;
                outline: none;
                background: var(--bg-color);
                border: 1px solid var(--dark-color);
                color: var(--dark-color);
                border-radius: 8px 0 0 8px;
                &:focus {
                    border: 1px solid var(--pr-color);
                }
            }
            .select-option-wrp {
                width: 50%;
                display: flex;
                align-items: center;
                button {
                    font-weight: 600;
                    font-size: 16px;
                    padding: 10px 14px;
                    color: #fff;
                    background: var(--pr-color);
                    border: 2px solid var(--pr-color);
                    border-radius: 0 8px 8px 0;
                    cursor: pointer;
                    transition: all .2s ease;
                    &:hover {
                        opacity: 0.8;
                    }
                    &:active {
                        opacity: 0.7;
                    }
                    i {
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
                select {
                    width: 100%;
                    padding: 13px;
                    font-size: 17px;
                    outline: none;
                    background: var(--bg-color);
                    color: var(--dark-color);
                    border: 1px solid var(--dark-color);
                }
            }
        }

        .confirm-o-center-inp {
            input {
                width: 100%;
            }
        }
        .form-t-inp {
            width: 100%;
        }
    }
}

.active-confirm-action {
    background: var(--pr-color) !important;
    color: #fff !important;
}

.client-select {
    width: 100%;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    select {
        font-weight: 600;
        font-size: 18px;
        outline: none;
        padding: 10px;
        width: 100%;
        text-align: center;
        background: var(--bg-color);
        border-radius: 5px;
        border: 1px solid var(--dark-color);
        color: var(--dark-color);
    }
}