* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background: var(--body-color);
    transition: 0.5s ease;
    // background-image: url('../images/jpg/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &.dark {
        --bg-color: #1f1e1e;
        --body-color: #1f1e1e;
        --dark-color: #ffff;
        --table-head-color: #333232;
        --table-color: #f9fafb;
        --product-table-color: #2a2929;
        --tr-hover-color: #343333;
        --table-q-btn-color: #2f2e2e;
        --header-bg: #1f1e1e;
    }

    &.light {
        --bg-color: #fff;
        // --body-color: linear-gradient(145deg, #ffe8c8, #fcd39a);
        --header-bg: #ffe8c8;
        --body-color: linear-gradient(180deg,
                #FFF1E6 0%,
                #FFD6AD 50%,
                #FFB980 100%);
        --dark-color: #111827;
        --table-head-color: #f9fafb;
        --table-color: #111827;
        --product-table-color: #fff;
        --tr-hover-color: #f8fafc;
        --table-q-btn-color: #fff;
    }
}

.container {
    width: 100%;
    padding: 0 25px;
}

.Vue-Toastification__toast--success {
    background: var(--pr-color) !important;
}

input:focus {
    border: 1px solid var(--pr-color) !important;
}