.section-index {
    width: 40%;
    background: var(--product-table-color);
    margin-right: 20px;
    // height: 715px;
    height: 75.9vh;
    border-radius: 13px;
    padding: 20px;
    overflow: auto;
    position: relative;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .section-header-all-price {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            span {
                font-size: 30px;
                color: var(--pr-color);
            }

            h2 {
                font-size: 35px;
                color: var(--pr-color);
                text-align: center;
            }
        }

        button {
            padding: 15px 20px;
            cursor: pointer;
            border-radius: 10px;
            background: #fff;
            border: 1px solid var(--pr-color);

            img {
                width: 20px;
            }

            &:last-child {
                font-size: 30px;
                background: var(--pr-color);
                border: none;
                color: #fff;
            }

            transition: all 0.2s ease;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                transform: scale(98%);
            }
        }
    }

    footer {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-end;
        margin-top: 25px;
        padding: 20px;
        .footer-bottom-actions {
            display: flex;
            gap: 10px;

            button {
                padding: 10px;
                width: 50%;
                border-radius: 10px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.65);
                background: #fff;
                transition: all 0.2s ease;

                i {
                    font-size: 25px;
                    color: rgba(0, 0, 0, 0.65);
                }

                &:hover {
                    opacity: 0.7;
                }

                &:active {
                    transform: scale(98%);
                }
            }
        }

        .payment-footer-btn {
            width: 100%;
            font-weight: 600;
            font-size: 30px;
            padding: 9px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            color: #fff;
            background: var(--pr-color);
            transition: all 0.2s ease;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                transform: scale(97%);
            }
        }
    }
}

.custom-footer {
    width: 100%;
    display: flex;
    gap: 10px;
    button {
        width: 50%;
        padding: 10px;
        font-size: 22px;
        border-radius: 6px;
        cursor: pointer;
        transition: all .2s ease;
        color: var(--pr-color);
        background: none;
        border: 1px solid var(--pr-color);
        &:hover {
            opacity: 0.8;
        }
        &:active {
            transform: scale(98%);
        }
        &:last-child {
            background: var(--pr-color);
            color: #fff;
            border: none;
        }
    }
}

.delete-content {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    p {
        text-align: center;
    }
}


.section-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;  
    button {
        padding: 12px 14px;
        border-radius: 10px;
        border: none;
        border: 1px solid #c9c9c9;
        background: none;
        cursor: pointer;
        i {
            font-size: 32px;
            color: #c9c9c9;
            rotate: 40deg;
        }
    }
}