:root {
    --bg-color: #1f1e1e;
    --pr-color: #ff6b2c;
    --dark-color: #ffff;
    --table-head-color: #333232;
    --table-color: #f9fafb;
    --product-table-color: #2a2929;
    --tr-hover-color: #343333;
    --table-q-btn-color: #2f2e2e;
}