@import './typagraphy';
@import './reset';
@import './varibles';
@import "./header";
@import './add-order';
@import './products';
@import './orders';
@import './confirm';
@import './products-modal';
@import './product-item';
@import './loader';
@import './register';
@import './confirm'